<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{userprofile.name}}</h2>
    <h2>{{userprofile.phone}}</h2>
    <h2>{{userprofile.email}}</h2>
    <hr>
    <p>Summary</p>
    <p>{{userprofile.summary}}</p>
    <hr>
    <p>Skills</p>
    <p>{{userprofile.skills}}</p>
    <hr>
    <p>Education</p>
    <ul>
        <li>schooling : {{userprofile.school}}</li>
        <li>{{userprofile.degree}} from {{userprofile.university}}</li>
    </ul>
    <hr>
    <p>Previous Work</p>
    <p>{{userprofile.priviouswork}}</p>
    <hr>
    <p>Certifications</p>
    <p>{{userprofile.certifications}}</p>
</body>
</html>